<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/milligram.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
        <title>Zeph</title>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <div style="width:100%;">
            <div class="tags-search">
                <a href="/" title="Boop!">
                    <img id="nano-logo" src="/logo.jpg">
                    <h3 style="display: inline; vertical-align: 50%">Zeph</h3>
                </a>
                <form id="tag-seatch-form" action="/search">
                    <input placeholder="Search" name="q" id="tag-search-field" type="text">
                </form>
                <div id="tags">
                    <!-- Tags here --!>
                </div>
            </div>
            <div id="images">
                <!-- Images here --!>
            </div>
            <button id="more-button" onclick="loadMore()">More</button>
            <button id="upload-button" onclick="showUploadOrLogin()">Login</button>
            <div id="login-or-upload-form">
                <!-- Form here --!>
            </div>
        </div>
    </body>
</html>
