<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/milligram.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
        <script src="/js/show.js"></script>
    </head>
    <meta charset="utf-8">
    <body>
        <div style="width:100%;">
            <div class="tags-search">
                <a href="/" title="Boop!">
                    <img id="nano-logo" src="/logo.jpg">
                    <h3 style="display: inline; vertical-align: 50%">Zeph</h3>
                </a>
                <form id="tag-seatch-form" action="/search">
                    <input placeholder="Search" name="q" id="tag-search-field" type="text">
                </form>
                <div id="id"></div>
                <div id="tags">
                    <div id="image-info">
                    </div>
                </div>
        </div>
        <a>
            <img id="image-block" style="display: block; margin: 0 auto;"></img>
        </a>
    </body>
</html>
