<!DOCTYPE html>

<html>
    {{#image}}
    <head>
        <link rel="stylesheet" href="/css/milligram.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
        <script src="/js/show.js"></script>
        <title>Zeph - {{#tags}} {{.}} {{/tags}}</title>
        <meta property="og:title" content="Zeph - {{#tags}} {{.}} {{/tags}}" />
        <meta property="og:url" content="https://quake.kotobank.ch/show/{{id}}" />
        <meta property="og:image" content="https://quake.kotobank.ch/images/preview/{{name}}" />
    </head>
    <meta charset="utf-8">
    <body>
        <div style="width:100%;">
            <div class="tags-search">
                <a href="/" title="Boop!">
                    <img id="nano-logo" src="/logo.jpg">
                    <h3 style="display: inline; vertical-align: 50%">Zeph</h3>
                </a>
                <form id="tag-seatch-form" action="/search">
                    <input placeholder="Search" name="q" id="tag-search-field" type="text">
                </form>
                <div id="id">#{{id}}</div>
                <div id="tags">
                    <div id="image-info">
                        {{#original_link}} <a id="original-link" href="{{.}}">Original page</a> {{/original_link}}<br>
                        {{#rating}} <a id="rating" href="/search?q=rating:{{.}}">rating:{{.}}</a> {{/rating}}<br>
                        {{#got_from}} <a id="got-from" value="{{.}}" href="/search?q=from:{{.}}">from:{{.}}</a> {{/got_from}}<br>
                        {{#uploader}} <a id="uploader" value="{{.}}" href="/search?q=uploader:{{.}}"> uploader:{{.}}</a>{{/uploader}}<br>
                        <div id="vote-area">
                            <div id="score">
                                Score: {{score}}
                            </div>
                        </div>
                    </div>
                    <br>
                    {{#tags}}
                        <a href="/search?q={{.}}">{{.}}</a><br>
                    {{/tags}}
                </div>
        </div>
        <a href="/images/{{name}}">
            <img id="image-block" style="display: block; margin: 0 auto;" src="/images/{{name}}"></img>
        </a>
    </body>
    {{/image}}
</html>
